page-request-history {
  ion-item ion-avatar img {
    height: 48px !important;
    width: 48px !important;
  }
  ion-item .item-inner ion-label{
    margin-bottom: 4px !important;
    margin-top: 4px !important;
  }
  ion-card-content > p {
    padding-top: 8px;
    font-style: italic;
    font-size: 13px;
  }
  ion-note {
    color: #616161 !important;
  }
  ion-list.details > ion-item {
    height: 30px !important;
  }
}
