<!--
  Generated template for the ExtendServicesDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons *ngIf="!slider.isBeginning()" start>
      <button ion-button (click)="gotoPrevious()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <h3>Details <br/>
        <span *ngIf="slidePecentage != 0">{{slidePecentage}}%</span>
      </h3>

    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-slides pager paginationType="progress" (ionSlideDidChange)="onSlideChanged()">
    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">How many bedrooms are in your home?</h3>
      </div>
      <form>
      <ion-list radio-group class="list">
        <ion-item>
          <ion-label>Studio</ion-label>
          <ion-radio value="studio" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>1 bedroom</ion-label>
          <ion-radio value="1 bedroom" ></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>2 bedrooms</ion-label>
          <ion-radio value="2 bedrooms"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>3 bedrooms</ion-label>
          <ion-radio value="3 bedrooms"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>4 bedrooms</ion-label>
          <ion-radio value="4 bedrooms"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>5 bedrooms</ion-label>
          <ion-radio value="5 bedrooms"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>6 bedrooms</ion-label>
          <ion-radio value="6 bedrooms"></ion-radio>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">How many bathrooms are in your home?</h3>
      </div>
      <form>
      <ion-list radio-group>
        <ion-item>
          <ion-label>1 bathroom</ion-label>
          <ion-radio value="1 bathroom" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>2 bathrooms</ion-label>
          <ion-radio value="2 bathrooms"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>3 bathrooms</ion-label>
          <ion-radio value="3 bathrooms"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>4 bathrooms</ion-label>
          <ion-radio value="4 bathrooms"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>5 bathrooms</ion-label>
          <ion-radio value="5 bathrooms"></ion-radio>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">How often would you like your house cleaned?</h3>
      </div>
      <form>
      <ion-list radio-group>
        <ion-item>
          <ion-label>Just once</ion-label>
          <ion-radio value="just once" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Every week</ion-label>
          <ion-radio value="every week"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Every 2 weeks</ion-label>
          <ion-radio value="2 weeks"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Once a month</ion-label>
          <ion-radio value="month"></ion-radio>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">What days are available for cleanings?</h3>
      </div>
      <form>
      <ion-list>
        <ion-item>
          <ion-label>Monday</ion-label>
          <ion-checkbox item-right value="Monday"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Tuesday</ion-label>
          <ion-checkbox item-right value="Tuesday"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Wednesday</ion-label>
          <ion-checkbox item-right value="Wednesday"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Thursday</ion-label>
          <ion-checkbox item-right value="Thursday"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Friday</ion-label>
          <ion-checkbox item-right value="Friday"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Saturday</ion-label>
          <ion-checkbox item-right value="Saturday"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Sunday</ion-label>
          <ion-checkbox item-right value="Sunday"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">What times are available for cleanings?</h3>
      </div>
      <form>
      <ion-list>
        <ion-item>
          <ion-label>Early Morning (before 9am)</ion-label>
          <ion-checkbox item-right value="before 9am"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Morning (9am-noon)</ion-label>
          <ion-checkbox item-right value="9am-noon"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Early afternoon (noon-3pm)</ion-label>
          <ion-checkbox item-right value="noon-3pm"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Late afternoon (3-6pm)</ion-label>
          <ion-checkbox item-right value="3-6pm"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Evening (after 6pm)</ion-label>
          <ion-checkbox item-right value="after 6pm"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">What kind of cleaning service would you like?</h3>
      </div>
      <form>
      <ion-list radio-group>
        <ion-item>
          <ion-label>Standard cleaning</ion-label>
          <ion-radio value="standard" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Deep cleaning</ion-label>
          <ion-radio value="deep"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Move out cleaning</ion-label>
          <ion-radio value="move out"></ion-radio>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">Which additional services do you need, if any?</h3>
        <p>optional</p>
      </div>
      <form>
      <ion-list>
        <ion-item>
          <ion-label>Fridge cleaning</ion-label>
          <ion-checkbox item-right value="fridge"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Oven cleaning</ion-label>
          <ion-checkbox item-right value="oven"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Interior window cleaning</ion-label>
          <ion-checkbox item-right value="interior window"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Laundry</ion-label>
          <ion-checkbox item-right value="laundry"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">What else should the cleaner know?</h3>
        <p>optional</p>
      </div>
      <form>
      <ion-list>
        <ion-item>
          <ion-label>I would like eco-friendly products</ion-label>
          <ion-checkbox item-right value="eco"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>I have pets</ion-label>
          <ion-checkbox item-right value="pets"></ion-checkbox>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">Anything else the house cleaner should know?</h3>
        <p>optional</p>
      </div>
      <form>
      <ion-list>
        <ion-item>
          <ion-label floating>Tell us more...</ion-label>
          <ion-textarea rows="10"></ion-textarea>
        </ion-item>
      </ion-list>
      <div class="btBottom">
        <button ion-button full (click)="gotoNext()">Next</button>
      </div>
    </form>
    </ion-slide>

    <ion-slide>
      <div class="slideHeader">
        <h3 class="lbHeader">You're almost done!</h3>
      </div>
      <div class="slideContent">
        <div>
          <h4>Our staff will contact you soon.</h4>
          <p>By clicking Submit Service Request you agree to the Terms of Use and Privacy Policy.</p>
        </div>
      </div>
      <div class="btBottom">
        <button ion-button full (click)="presentConfirm()">Submit Service Request</button>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>
