<!--
  Generated template for the Processing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-toolbar>
    <ion-segment [(ngModel)]="status">
      <ion-segment-button value="pending">
        Pending
      </ion-segment-button>
      <ion-segment-button value="awaiting">
        Awaiting
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="status">
    <div *ngSwitchCase="'pending'">
      <ion-list>
        <ion-item-sliding *ngFor="let item of pendings">
          <ion-item>
            <h2 color="{{getColor(item.status)}}">{{item.serviceName}} <ion-icon *ngIf="item.servieType == 'VIP'" name="bookmark"></ion-icon></h2>
            <ion-note item-right>{{item.createdDate | date: 'dd/MM/yyyy'}}</ion-note>
            <p *ngIf="item.personnel"><ion-icon name="person"></ion-icon> {{item.personnel}}</p>
            <p><ion-icon name="text"></ion-icon> {{item.comment}}</p>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button color="secondary" *ngIf="item.status == 'PENDING_APPROVAL'">
              <ion-icon name="thumbs-up"></ion-icon>
              Approve
            </button>
            <button ion-button color="primary" (click)="openModal(item)" *ngIf="item.status != 'PENDING_RESPONSE'">
              <ion-icon name="create"></ion-icon>
              Edit
            </button>
            <button ion-button color="danger">
              <ion-icon name="close-circle"></ion-icon>
              Cancel
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div *ngSwitchCase="'awaiting'">
      <ion-list>
        <ion-item-sliding *ngFor="let item of awaitings">
          <ion-item>
            <h2 color="primary">{{item.serviceName}} <ion-icon *ngIf="item.servieType == 'VIP'" name="bookmark"></ion-icon></h2>
            <ion-note item-right>{{item.createdDate | date: 'dd/MM/yyyy'}}</ion-note>
            <p><ion-icon name="person"></ion-icon> {{item.personnel}}</p>
            <p><ion-icon name="text"></ion-icon> {{item.comment}}</p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="danger">
              <ion-icon name="close-circle"></ion-icon>
              Cancel
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
